#
# Linux ignores
#

*.o
*.l[ao]
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
cli/.deps/
cli/.libs/
cli/wavpack-stream
cli/wvunpack-stream
cli/wvtest-stream
compile
configure
config.guess
config.log
config.status
config.sub
depcomp
install-sh
libtool
ltmain.sh
missing
src/.deps/
src/.libs/
wavpack-stream.pc
*.wav
*.wv*

#
# Visual Studio ignores
#

Release/
Debug/
*.ncb
*.user
*.suo

#
# Cygwin ignores
#

*.exe

