language: c
sudo: false
script:
  - ./autogen.sh --enable-tests && make && cli/wvtest $WVTEST_ARGS
compiler:
  - clang
  - gcc
os:
  - linux
  - osx
env:
  matrix:
    - WVTEST_ARGS="--default --no-hybrid --no-lossy"
